import random 

killograms=[200,250,263]
places=random.sample(range(1,11),3)

print("hello! let's try to find your boxes:)")

while True:
    guesses = [0, 0, 0]

    for i in range(3):
        guesses[i] = int(input(" guess box " + str(i + 1) + " (1-10): "))
    if guesses == places:
        print("You've found your boxes!")
        print("Boxes' weights" + str(killograms)+ "kg. In total" + str(sum(killograms)) + "kg")
        break
    else:
        print( "Your boxes are still lost: try again")
        for i in range(3):
            places[i] = random.sample(range(1, 11), 3)
